@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Lato', sans-serif;
  background: #f6f6fe;
  background-image: url(./assets/images/bg-bottom.svg), url(./assets/images/bg-top.svg);
  background-repeat: no-repeat no-repeat;
  background-position: left 0 bottom 0, right 0 top 0;
}

@media (max-width: 764px) {
  body {
    background-position: left 0 bottom 0, right -50vw top -5%;
  }
}